.menu {
	height: 100%;
	.logo-box {
		height: 60px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid #000f1d;
		.logo-img {
			width: 29px;
			margin: 0;
		}
		.logo-text {
			font-size: 23px;
			font-weight: bold;
			color: #dadada;
			white-space: nowrap;
			margin: 0 0 0 10px;
		}
	}
	.ant-menu {
		height: calc(100% - 60px);
		overflow: auto;
	}
}
