.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	.logo-box {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 55px;
		border-bottom: 1px solid #000f1d;
		.logo-img {
			width: 29px;
			margin: 0;
		}
		.logo-text {
			margin: 0 0 0 10px;
			font-size: 23px;
			font-weight: bold;
			color: #dadada;
			white-space: nowrap;
		}
	}
	.ant-menu-root {
		flex: 1;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
